*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header{
    background-color: rgb(255, 255, 255);
    margin-top: 35px;
}

.navbar{
   display: flex;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   max-width: 1140px; 
   background-color: rgb(255, 255, 255);
   padding: 10px;

}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
  
}

nav .menu a{
  font-size: 18px;
  color: #050404;
  text-decoration: none;
  font-weight: 500;
}

.navbar .btn{
  background-color: #30B868;
  border: none;
  padding: 12px 16px 12px 16px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  gap: 25px;
  
}

.btn a{
    text-decoration: none;
    color: #ffffff;
}


/* hero section */

.color-green{
    color: rgba(48, 184, 104, 1);
    
}

.hero {
    margin-top: 35px;
    width: 1100px;
    height: 600px;
    align-items: center;
    margin: 0 auto;
    background-image: url("../images/hero-bg.png");
    /* display: flex; */
    flex-direction: flex-start;
    gap: 30px;
    text-align: center;
  
    
    
}

.btn-box{
    font-size: 18px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 35px;
    background-color: #ffffff;
    padding: 25px 55px 25px 55px;
    border-radius: 60px;
    color: #30B868;
    border: none;

}

.title{
    font-size: 56px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px; 
}

.content{
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 30px;
}
.click{
    padding: 15px

}

.hero-btn{
    background-color: #30B868;
    padding: 15px 25px 15px 25px;
    border: none;
  }

.hero-btn a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    vertical-align: auto;
    
}

.btn-11{
    background-color: #fffefe00;
    padding: 15px 25px 15px 25px;
    border: 1px solid #ffffff;
    border-radius: 5px;
   
}

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
     
}


/* card */

/* skills section */

#skills .skills-container{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 35px;
  
  
  
  
}

#skills .skills-container .skill-box{
  display: flex;
  gap: 24px;
  margin-top: 35px;
  padding: 15px;
  
  
}

.skill-box .skill-card{
  padding: 20px;
  /* border: 1px solid #000; */
  width: 350px;
  height: 300px;
  box-shadow: 0 6px 50px 0 #918a8a59;
  border-radius: 10px;
  margin-bottom: 45px;
 
  

}

.skill-card img{
  width: 60px;
  height: 60px;
  margin-top: 30px;
  background-color: #F95555;
  border-radius: 35px;
  justify-items:center;
}

.skill-card h3{
  font-size: 18px;
  color: #181818;
  margin-top: 35px;
  align-items: center;
  

}

.skill-card p{
  font-size: 16px;
  line-height: 28px;
  margin-top: 25px;
  
  
}

.section-heading{
    text-align: center;
    font-size: 25px;
}

.section-heading p{
    text-align: center;
    font-size: 18px;
}


/* checklist */

#boom{
  display: flex;
  margin: 0 auto;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  gap: 100px;
  max-width: 1140px;
  margin-top: 25px;
}

#boom .bom-content{
  max-width: 600px;
  justify-content: space-between;
  padding: 10px;

}

#boom .boom-content h3{
  font-size: 15px;
  font-weight: 400;
  text-transform:uppercase;
  color: #30B868;
  margin-bottom: 5px;
}

#boom .boom-content h2{
  font-size: 35px;
  font-weight: 700;
  color: #050404;
  margin-bottom: 5px;
}

#boom .boom-content p{
  font-size: 17px;
  color: #050404;
  line-height: 26px;
  margin-bottom: 15px;
  
}

#boom .boom-image{
  width: 550px;
  height: 550px;
  border-radius: 12px;
  /* background-image: url("../images/knowledge.png"); */
 
}

/* .boom-checklist{
   gap: 6px;
   list-style-image: none;
   
} */

.boom-checklist img{
  width: 21px;
  height: 21px;
  gap: 6px;
  vertical-align: middle;
  
}

#boom .boom-checklist li{
  list-style-type: none;
  line-height: 10px;
  align-items: center;
}

#cool{
  width: 1140px;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(250, 248, 238);
  padding: 60px 40px;
  border-radius: 15px;
  margin-top: 100px;
}
#cool .info{
  font-size: 15px;
}

#cool .cool-content h1{
  font-size: 40px;
  font-weight: bold;
  color: #050404;
  margin-bottom: 10px;
  text-align: center;


}

#cool .cool-content p{
  font-size: 22px;
  color: #050404;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
}

#cool .cool-btn{
  font-size: 18px;
  color: #050404;
  margin-bottom: 10px;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}


#cool p{
  text-align: center;
  margin-bottom: 10px;
}

#cool .info{
  font-size: 17px;
  line-height: 21px;
}
/* footer */

.footer{
  padding: 40px 80px 20px;
  background-color: #001931;
  

}

.footer-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #313131;
  
  
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
   
}

.logo img{
  width: 150px;
  height: 60px;
}

.footer-content{
  color: #fff0f0;
  font-size: 15px;
  margin-bottom: 8px;
}

.icons{
  display: flex;
  gap: 10px;
}

.icons a{
  width: 20px;
  height: 20px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: 0.3s;
}

.footer-bottom{
  text-align: center;
  font-size: 14px;
  margin-top: 18px;
  opacity: 0.9;
  color: #ffffff;
}
