*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header{
    background-color: rgb(255, 255, 255);
    margin-top: 35px;
}

.navbar{
   display: flex;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   max-width: 1600px; 
   background-color: rgb(255, 255, 255);
   padding: 10px;

}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
  
}

nav .menu a{
  font-size: 18px;
  color: #050404;
  text-decoration: none;
  font-weight: 500;
}

.navbar .btn{
  background-color: #30B868;
  border: none;
  padding: 12px 16px 12px 16px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  gap: 10px;
  
}

.btn a{
    text-decoration: none;
    color: #ffffff;
}


/* hero section */

.color-green{
    color: rgba(48, 184, 104, 1);
    
}

.hero {
    margin-top: 35px;
    width: 1600px;
    height: 650px;
    align-items: center;
    margin: 0 auto;
    background-image: url("../images/hero-bg.png");
    /* display: flex; */
    flex-direction: flex-start;
    gap: 30px;
    text-align: center;
    
    
}

.btn-box{
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 20px;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 35px;
}

.title{
    font-size: 56px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px; 
}

.content{
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 30px;
}
.click{
    padding: 15px

}

.hero-btn{
    background-color: #30B868;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
}

.hero-btn a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    vertical-align: auto;
    
}

.btn-11{
    background-color: #fffefe00;
    padding: 15px 25px 15px 25px;
    border: 2px solid #ffffff;
    border-radius: 5px;
   
}

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
     
}